ProyectoIBET1.0/web/WEB-INF/config/wsdl/IbetWebServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<definitions targetNamespace="http://ws.impl.servicios.ibet.ucab.edu.ve/" name="IbetWebServices" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.impl.servicios.ibet.ucab.edu.ve/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.impl.servicios.ibet.ucab.edu.ve/" schemaLocation="IbetWebServices_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="consultarProporcionEvento">
    <part name="parameters" element="tns:consultarProporcionEvento"/>
  </message>
  <message name="consultarProporcionEventoResponse">
    <part name="parameters" element="tns:consultarProporcionEventoResponse"/>
  </message>
  <message name="consultarResultadoEvento">
    <part name="parameters" element="tns:consultarResultadoEvento"/>
  </message>
  <message name="consultarResultadoEventoResponse">
    <part name="parameters" element="tns:consultarResultadoEventoResponse"/>
  </message>
  <message name="realizarApuesta">
    <part name="parameters" element="tns:realizarApuesta"/>
  </message>
  <message name="realizarApuestaResponse">
    <part name="parameters" element="tns:realizarApuestaResponse"/>
  </message>
  <message name="gananciasPorUsuario">
    <part name="parameters" element="tns:gananciasPorUsuario"/>
  </message>
  <message name="gananciasPorUsuarioResponse">
    <part name="parameters" element="tns:gananciasPorUsuarioResponse"/>
  </message>
  <portType name="IbetWebServices">
    <operation name="consultarProporcionEvento">
      <input message="tns:consultarProporcionEvento"/>
      <output message="tns:consultarProporcionEventoResponse"/>
    </operation>
    <operation name="consultarResultadoEvento">
      <input message="tns:consultarResultadoEvento"/>
      <output message="tns:consultarResultadoEventoResponse"/>
    </operation>
    <operation name="realizarApuesta">
      <input message="tns:realizarApuesta"/>
      <output message="tns:realizarApuestaResponse"/>
    </operation>
    <operation name="gananciasPorUsuario">
      <input message="tns:gananciasPorUsuario"/>
      <output message="tns:gananciasPorUsuarioResponse"/>
    </operation>
  </portType>
  <binding name="IbetWebServicesPortBinding" type="tns:IbetWebServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="consultarProporcionEvento">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultarResultadoEvento">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="realizarApuesta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="gananciasPorUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="IbetWebServices">
    <port name="IbetWebServicesPort" binding="tns:IbetWebServicesPortBinding">
      <soap:address location="http://192.168.23.9:8084/ProyectoIBET/IbetWebServices"/>
    </port>
  </service>
</definitions>

