src/conf/xml-resources/web-service-references/Ubet/wsdl/Ubet.xml.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://subet:4321/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://subet:4321/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">El metodo que vamos a usar para integrarnos</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://subet:4321/">
      <s:element name="consultarProporcionEvento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="equipo1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="equipo2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarProporcionEventoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarProporcionEventoResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Participante1" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Proporcion1" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Participante2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Proporcion2" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="consultarProporcionEventoSoapIn">
    <wsdl:part name="parameters" element="tns:consultarProporcionEvento" />
  </wsdl:message>
  <wsdl:message name="consultarProporcionEventoSoapOut">
    <wsdl:part name="parameters" element="tns:consultarProporcionEventoResponse" />
  </wsdl:message>
  <wsdl:portType name="UbetSoap">
    <wsdl:operation name="consultarProporcionEvento">
      <wsdl:input message="tns:consultarProporcionEventoSoapIn" />
      <wsdl:output message="tns:consultarProporcionEventoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UbetSoap" type="tns:UbetSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultarProporcionEvento">
      <soap:operation soapAction="http://subet:4321/consultarProporcionEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UbetSoap12" type="tns:UbetSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultarProporcionEvento">
      <soap12:operation soapAction="http://subet:4321/consultarProporcionEvento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Ubet">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">El metodo que vamos a usar para integrarnos</wsdl:documentation>
    <wsdl:port name="UbetSoap" binding="tns:UbetSoap">
      <soap:address location="http://subet:4321/Ubet.asmx" />
    </wsdl:port>
    <wsdl:port name="UbetSoap12" binding="tns:UbetSoap12">
      <soap12:address location="http://subet:4321/Ubet.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
